/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
    --inline-size: clamp(23.438rem, 16.285rem + 30.516vw, 43.75rem);
    --dialog-size: clamp(21.313rem, 21.048rem + 1.127vw, 22.063rem);
    --main-font: "Inter-Variable";
    --accent-font: "PressStart2P";
    --font-weight: 400;
    --title-weight: 700;
    --font-size: 18px;
    --card-title-size: 18px;
    --title-font-size: clamp(0.875rem, 0.677rem + 0.845vw, 1.438rem);
    --logo-font-size: clamp(3.063rem, 2.71rem + 1.502vw, 4.063rem);
    --accent-font-size: 14px;
    --line-height: 21px;
    --card-title-height: 22px;
    --button-line-height: 90%;
    --main-color: #000;
    --button-color: #fff;
    --button-bg-color: #000;
    --border: 2px solid #000;
    --border-like-button: 1px solid transparent;
    --box-shadow: 2px 2px #000;
    --stroke-color: #fff;
    --watermark-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
    --bg-color: #fff;
    --backdrop-color: rgb(0 0 0 / 75%);
    --body-pattern: repeating-linear-gradient(90deg, #d3d3d3 0 2px, rgb(0 0 0/ 0) 2px 4px), repeating-linear-gradient(180deg, #d3d3d3 0 2px, rgb(0 0 0/ 0) 2px 4px), linear-gradient(180deg, #e7e7e7 0%, #e7e7e7 0.01%, #1a1a1a 100%);
    --animation-fill-color: red;
}